<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

<body>

  <div id="home" class="bg_parralax" data-type="background" data-speed="10">
    <div class="logo">
      <%= link_to image_tag("141logo_v2.png", :class => "logo2"), '/products' %>
    </div>
    <div class="banner">
      <%= image_tag("banner.png", :class => "banner2") %>
      <p class="text"> Responsible Shopping <br></br>
                      Radical Transformation</p>
    </div>
  </div> 

  <div class="home_content">
    <h1><span>You are unique.<br></span><span style="font-size: 14px; font-weight: normal; line-height: 1.68em;"></span></h1><h3>(YES YOU!)</h3><p>Chances are you are coming to us in one of two positions:</p><ol id="yui_3_10_1_1_1390261516808_516"><li id="yui_3_10_1_1_1390261516808_515">You have a great idea you don't want someone to screw up.</li><li>You had a great idea that someone screwed up.&nbsp;</li></ol><p><em>SHOP141</em> exists to ensure that your brilliant product idea not only sees the light of day, but destroys the market on the other side. &nbsp;Your company's limited time, money, and resources are far too valuable to be pushed out on the market naked with a "marketable" explanation for why you have no clothes.&nbsp;</p><p>Whether this is your first attempt or, God forbid, your second or third...</p><h3><a href="/locations">It's time to do it right</a>.</h3><p><strong><em></em></strong></p><p></p><p>&nbsp;</p></div>
  </div>


  <div id="about" class="bg_parralax" data-type="background" data-speed="20">
    <div class="layer">
      <div class="layer_content1">
        You've got a friend in me
        You've got a friend in me
        When the road looks rough ahead
        And you're miles and miles from your nice warm bed
        You just remember what your old pal said
        Boy you've got a friend in me
      </div>
    </div>
  </div>

  <div class="about_content">
    <h1><span>You are unique.<br></span><span style="font-size: 14px; font-weight: normal; line-height: 1.68em;"></span></h1><h3>(YES YOU!)</h3><p>Chances are you are coming to us in one of two positions:</p><ol id="yui_3_10_1_1_1390261516808_516"><li id="yui_3_10_1_1_1390261516808_515">You have a great idea you don't want someone to screw up.</li><li>You had a great idea that someone screwed up.&nbsp;</li></ol><p><em>SHOP141</em> exists to ensure that your brilliant product idea not only sees the light of day, but destroys the market on the other side. &nbsp;Your company's limited time, money, and resources are far too valuable to be pushed out on the market naked with a "marketable" explanation for why you have no clothes.&nbsp;</p><p>Whether this is your first attempt or, God forbid, your second or third...</p><h3><a href="/locations">It's time to do it right</a>.</h3><p><strong><em></em></strong></p><p></p><p>&nbsp;</p></div>
  </div>


  <div id="blog" class="bg_parralax" data-type="background" data-speed="40">
    <div class="layer_content2">
      Some other folks might be a little bit smarter than I am
      Bigger and stronger too
      Maybe
      But none of them
      Will ever love you the way I do
      It's me and you boy
    </div>
  </div>

  <div class="blog_content">
    <h1><span>You are unique.<br></span><span style="font-size: 14px; font-weight: normal; line-height: 1.68em;"></span></h1><h3>(YES YOU!)</h3><p>Chances are you are coming to us in one of two positions:</p><ol id="yui_3_10_1_1_1390261516808_516"><li id="yui_3_10_1_1_1390261516808_515">You have a great idea you don't want someone to screw up.</li><li>You had a great idea that someone screwed up.&nbsp;</li></ol><p><em>SHOP141</em> exists to ensure that your brilliant product idea not only sees the light of day, but destroys the market on the other side. &nbsp;Your company's limited time, money, and resources are far too valuable to be pushed out on the market naked with a "marketable" explanation for why you have no clothes.&nbsp;</p><p>Whether this is your first attempt or, God forbid, your second or third...</p><h3><a href="/locations">It's time to do it right</a>.</h3><p><strong><em></em></strong></p><p></p><p>&nbsp;</p></div>
  </div>


  <div id="contact" class="bg_parralax" data-type="background" data-speed="10">
    <div class="layer">
      <div class="layer_content3">
        And as the years go by
        Our friendship will never die
        You're gonna see it's our destiny
        You've got a friend in me
        You've got a friend in me
        You've got a friend in me
      </div>
    </div>
  </div>

</body>