<div class="home">
  <div class="background">
    <%= image_tag("141logo.png", :class => "logo") %> 
    <div class="bancon">
        <%= image_tag("banner.png", :class => "banner") %>
        <p class="text"> Responsible Shopping <br></br>
                        Radical Transformation</p>
    </div>
  </div>
</div>