

<div id="home" class="bg_parralax" data-type="background" data-speed="10">
  <div data-center="opacity: 1" data--200-top="opacity: 0" data-anchor-target=".logo2" class="logo">
    <%= link_to image_tag("141logo.png", :class => "logo2"), '/products' %>
  </div>
  <div data-center="opacity: 1" data--20-top="opacity: 0">
    <%= link_to '<button class="shopnow" type="button">SHOP NOW</button>'.html_safe, '/products' %>
  </div>
</div>
<div data-center="opacity: 1" data--100-top="opacity: 0" class="home_content">
  <p>SHOP FROM A LIST OF INCREDIBLE PRODUCTS<br></br>
  HAND PICKED BY THE CHARITIES YOU WANT TO SUPPORT</p>
</div>

<div id="about" class="bg_parralax" data-type="background" data-speed="17">
  <div data-center="opacity: 1" data--100-top="opacity: 0" class="layer_content1">
    MAKE A DIFFERENCE WITH EVERY PURCHASE
  </div>
</div>
<div data-center="opacity: 1" data--100-top="opacity: 0" class="about_content">
  <p>Choose to...<br></br>
    1. "Shop141" to make a donation at the price of your product at checkout, or...<br></br>
    2. Purchase normally and see a small portion of your transaction go straight to charities</p>
</div>

<div class="row">
  <div class="small-6 columns">
    <div id="conclusion" class="bg_parralax" data-type="background" data-speed="20">

    </div> 
  </div>    
  <div class="small-6 columns">
    <div id="conclusion" class="bg_parralax" data-type="background" data-speed="20">
    <div class="layer_content2">
     RESPONSIBLE SHOPPING
     <span>RADICAL TRANSFORMATION</span>
    </div>
        <div class="btn_container">
      <%= link_to '<button class="shopnow" type="button">SHOP NOW</button>'.html_safe, '/products' %>
    </div>
    </div>
  </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="js/skrollr.js"></script>
<script src="js/_main.js"></script>
