<h1>Shop 141</h1>
	
<table>
  <thead>
  </thead>
    <tr>
    <% @products.each do |product| %>
      
     <tr>
     <td><%= product.name %> <%""%> <%= product.price %></td>
     <td><img width='300' height='300' src=<%= product.img %> </td>
     </tr>
    <% end %>

  </tbody>
</table>
