/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_self
 //= require foundation_and_overrides

 *= require_tree .

 */

/*********** page-wide *************/
@import 'foundation-icons';
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Lora);

// .row {
//   max-width: 100%;
// }

.background {
  background: url(uganda_travel-1.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  height: 800px;
}

.logo {
  width: 330px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-top: 6%;
}
.banner {
  padding-top: 80px;
  height: 270px;
  width: 100%;
}

.bancon {
  text-align: center;
}

.text {
  color: white;
  margin-top: -140px;
  font-family: Arvo;
  font-size: 40px;
  color: #EAEBE7;
  line-height: 30px;
}

/*NAV*/

.menu {
  background-color: #FF5351;
  height: 100px;
  width: 100%;

}

.menulogo {
  font-family: Oswald;
  color: #EAEBE7;
  font-size: 40px;
  padding-top: 20px;
  text-align: right;
  padding-top: 35px;
}

.menulist {
  list-style-type: none;
  display: block;
  padding-top: 35px;
  padding-left: 80px;
}

.menulist li {
  display: inline;
  font-family: Oswald;
  font-size: 20px;
  margin-right: 40px;
  color: #EAEBE7;
}

// Body
.bodybackground {
  height: 100%;
  background-color: #EAEBE7;
}

.toppad {
  height: 50px;
}

.row {
  max-width: 80.5rem;
}
