/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_self
 *= require_tree .

 */

/*********** page-wide *************/
@import url('http://fonts.googleapis.com/css?family=Oswald');
@import url('http://fonts.googleapis.com/css?family=Arvo');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

.row {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: none;
}

a:visited {
  color: none; 
}

a:hover {
  color: none;
  background-color: none; 
}

// .columns {
//   border: 1px solid green;
// }

// parallax
 
#home {
  background: url(uganda_travel-1.jpg);
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:100% 0;
  position:relative;
  height:1880px;
}

.logo {
  padding-top: 15%;
}

.logo2 {
  width: 330px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.banner2 {
  padding-top: 80px;
  height: 270px;
  width: 100%;
}

.home_content {
  margin: 4% 15% 4% 15%;
}

#about {
  background: url(hands.jpg);
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:100% 0;
  position:relative;
  min-height:780px;
}

.layer_content1 {
  font-family: 'Arvo';
  font-size: 48px;
  color: #663300;
  margin: 8% 15% 4% 15%;
  line-height: 2em;
  font-weight: bold;
}

.about_content {
  margin: 4% 15% 4% 15%;
}

#blog {
  background: url(morocco1.jpg);
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:100% 0;
  position:relative;
  min-height:1080px;
  padding-top: 200px;
}

.layer_content2 {
  color: #CCFFFF;
  font-family: 'Arvo';
  font-size: 48px;
  margin: 4% 48% 4% 6%;
  line-height: 2em;
  font-weight: bold;
}

.blog_content {
  margin: 4% 15% 4% 15%;
}

#contact {
  background: url(products.jpg);
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:100% 0;
  position:relative;
  min-height:1080px;
}

.layer {
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





.layer_content3 {
  font-family: 'Arvo';
  font-size: 48px;
  color: #003300;
  margin: 4% 15% 4% 15%;
  line-height: 2em;
  margin-top: 20%;
}

.text {
  color: white;
  margin-top: -140px;
  font-family: Arvo;
  font-size: 40px;
  color: #EAEBE7;
  line-height: 30px;
  text-align: center;
}

