/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_self
 //= require foundation_and_overrides

 *= require_tree .

 */

/*********** page-wide *************/

@import 'foundation-icons';
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Lora);

.row {
  max-width: 100%;
  margin-bottom: 0;
}

h3 , h1 , p {
  margin-top: 0px !important;
  margin-bottom: 0 !important;
}

// .columns {
//   border: 1px solid green;
// }

// parallax

div .columns {
  padding-left: 0;
  padding-right: 0;
}
 
#home {
  background: url(uganda_travel-1.jpg);
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:100% 0;
  position:relative;
  height:1680px;

}

.logo {
  padding-top: 15%;
  padding-bottom: 100px;
}

.logo2 {
  width: 330px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.shopnow {
  height: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-family: Arvo;
  line-height: 100%;
  background-color: #488B96;
  text-align: center;
  margin-top: 50px;
  opacity: 0.8;
  border-style: ridge;
  border-color: #33CCCC;
  border-width: medium;
  border-radius: 0.3em
}

.home_content {
  padding: 4% 15% 4% 15%;
   background-color: #F2F2F2;
}

.home_content h1 {
  color: black;
  font-size: 38px;
  font-family: Oswald;
  font-weight: bold;
}

.home_content p {
  color: #488B96;
  font-size: 28px;
  font-family: Lora;
  font-weight: bold;
}

#about {
  background: url(morocco1.jpg);
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:100% 0;
  position:relative;
  height:1080px;
}

.layer_content1 {
  color: #CCFFFF;
  font-family: 'Arvo';
  font-size: 48px;
  line-height: 4em;
  font-weight: bold;
  padding-top: 200px;
  margin-left: 50px;
  margin-right: 1000px;
  text-align: center;
}

.about_content {
  margin: 4% 15% 4% 15%;
}

.about_content p {
  color: #488B96;
  font-size: 28px;
  font-family: Lora;
  font-weight: bold;
}

.quote {
  color: black;
  font-size: 22px;
  font-family: Lora;
  font-weight: bold;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  line-height: 1.5em;
}

#conclusion {
  background: url(uganda_travel_blog_4-1.jpg);
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:100% 0;
  position:relative;
  min-height:1080px;
}

.layer_content2 {
  font-family: 'Arvo';
  font-size: 48px;
  color: #CCFFFF;
  line-height: 2em;
  font-weight: bold;
  padding-top: 400px;
  margin-left: 100px;
  text-align: center;
}

.layer_content2 span {
  color: #990000;
  font-weight: bold;
}

.btn_container {
  padding-left: 70px;
}
