.social-box {
  height: 100%;
}

.twitter {
  // float: left;
  // padding-left: 5px;
  // padding-right: 5px;
  width: 118px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sicon {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333333
}

.iconbox {
  // padding-left: 45%;
  // padding-right: 45%;
  // padding-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.logosmall {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  margin-top: -45px;
}