.form-page-wrap {
  background: url(iceland_horses2.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding-top: 50px;
}

.formtitle {
  text-align: center;
  font-family: Oswald;
}

.formsubtitle {
  text-align: center;
  font-family: Lora;
  font-size: 20px;
  padding-bottom: 15px;
}



.bottom-pad {
  height: 200px;;
}