

<div class="page-container">
  <div class="row"> 
     <% @products.each do |product| %>
    <div class="large-4 columns card-padding">
        <div class="card-container">

           <div style="opacity: 0;" class="fdw-background">
              <a href="#" class="biglink">
              <h4><a href="#" style="color:white;">THE PURCHASE OF THIS ITEM BENEFITS 
                <%= product.charity.name.upcase %>
              </a>
              </h4>
           </div>

          <div class="card">
            <div class="pricebox">
              <p class="price"> <%= product.price %> </p>
            </div>
            <div class="card-inner">
          <img src=<%= product.img %> class="proimage" />
            </div>
          </div>
        </div>
    </div>
      <% end %>
  </div>
</div>





 








