

  <% @products.each do |product| %>

      <div class="card">
        <div class="pricediv">
          <p class="price"><%= product.price %></p>
        </div>
        <div>
          <%= link_to image_tag(product.img), product_path(product) %> 
        </div>
      </div>
  <% end %>







