<h1>Shop 141</h1>
	
<table>
  <thead>
  </thead>
    <tr>
    <% @products.each do |product| %>
      
     <tr>
     <td><%= product.name %> <%""%> <%= product.price %></td>
     <td><%=link_to image_tag(product.img), product_path(product) %></td>
     </tr>
    <% end %>

  </tbody>
</table>
