  <div class="row">
    <a href="/"><%= image_tag("logosmall.png", :class => "logosmall") %> </a>
  </div>  
  <div class="row">
          <div class="small-12 columns iconbox">
          <!--   <div class="twitter"> -->
              <a href="#"> <i class="fi-mail sicon"></i> </a>
              <a href="#"> <i class="fi-social-twitter sicon"></i> </a>
              <a href="#"> <i class="fi-social-facebook sicon"></i> </a>
              <a href="#"> <i class="fi-social-instagram sicon"></i> </a>
            <!-- </div> -->
        </div>
  </div>